<!DOCTYPE html>
<header>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/images/weather.png">
</header>
<body>
    <div class="main-content">
    {{>header}}
    <p align="center">{{errorMessage}}</p>
    </div>
    {{>footer}}
</body>