<!DOCTYPE html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">        
    <link rel="icon" href="/images/weather.png">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <h3 align="center">{{helpText}}</h1>
    </div>
    {{>footer}}
</body>